<%- include("../../includes/header", {pageName : "bookingRegister" }) %>
    <%- include("../../includes/sidebar", {pageName : "bookingRegister" }) %>

    <form id="bookingRegisterForm">
        <div id="kt_app_contnet" class="app-content flex-column-fluid" style="margin-top: 20px;">
            <div id="kt_app_content_container" class="app-container  container-xxl ">




                <!--begin::Accordion-->
                <div class="accordion" id="kt_accordion_1">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="kt_accordion_1_header_1">
                            <button class="accordion-button fs-4 fw-semibold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#kt_accordion_1_body_1" aria-expanded="true"
                                aria-controls="kt_accordion_1_body_1">
                                Basic Filters
                            </button>
                        </h2>
                        <div id="kt_accordion_1_body_1" class="accordion-collapse collapse show"
                            aria-labelledby="kt_accordion_1_header_1" data-bs-parent="#kt_accordion_1">
                            <div class="accordion-body row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <label for="date" class="form-label">Date</label>
                                            <input tabindex="1" checkindex="1" type="text" name="date" id="date" class="form-control form-control-solid">
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="date" class="form-label">LR Series</label>
                                            <select tabindex="2" checkindex="2" class="form-select form-select-solid" name="lrSeries" id="lrSeries" data-control="select2" data-placeholder="Select LR Series">
                                                <option></option>
                                                <option value="all" selected>All</option>
                                                <% godownData.forEach((info)=> {%> 
                                                    <option value="<%=info._id%>"><%= info.serialToUse === "godown" ? info.serial : info.branch.serial %>

                                                    </option>    
                                                <%}) %>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="date" class="form-label">LR No. From</label>
                                            <input oninput="validateWholeNumber(this)" tabindex="3" checkindex="3" disabled placeholder="LR No. From" type="text" name="lrNumberFrom" id="lrNumberFrom" class="form-control form-control-solid">
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="date" class="form-label">LR No. To</label>
                                            <input oninput="validateWholeNumber(this)" tabindex="4" checkindex="4" disabled type="text" placeholder="LR No. To" name="lrNUmberTo" id="lrNumberTo" class="form-control form-control-solid">
                                        </div>
                                    </div>
                                </div>
                                <div class="separator separator-dotted border-success my-10"></div>
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label for="toBranch">
                                                Consignor
                                            </label>
                                            <select tabindex="5" checkindex="5" name="consignor" id="consignor" class="form-select form-select-solid" data-control="select2" data-placeholder="Query For">
                                                <option></option>
                                                <option value="all" selected>All</option>
                                                <% sundryDebtors.forEach((info)=> {%> 
                                                    <option value="<%=info._id%>"><%= info.name %></option>
                                                <%}) %>
                                            </select>
                                        </div>
                                        
                                        <div class="col-lg-6">
                                            <label for="toBranch">
                                                Consignee
                                            </label>
                                            <select tabindex="6" checkindex="6" name="consignee" id="consignee" class="form-select form-select-solid" data-control="select2" data-placeholder="Select To Branch">
                                                <option></option>
                                                <option selected value="all">All</option>
                                                <% sundryDebtors.forEach((info)=> {%> 
                                                    <option value="<%=info._id%>"><%= info.name %></option>
                                                <%}) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="kt_accordion_1_header_2">
                            <button class="accordion-button fs-4 fw-semibold collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_2" aria-expanded="false"
                                aria-controls="kt_accordion_1_body_2">
                                Location Filters
                            </button>
                        </h2>
                        <div id="kt_accordion_1_body_2" class="accordion-collapse collapse"
                            aria-labelledby="kt_accordion_1_header_2" data-bs-parent="#kt_accordion_1">
                            <div class="accordion-body row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <label for="fromBranch">
                                                From Zone
                                            </label>
                                            <select tabindex="7" checkindex="7" name="fromZone" id="fromZone" class="form-select form-select-solid" data-control="select2" data-placeholder="Query For">
                                                <option></option>
                                                <option value="all" selected>All Zone</option>
                                                <% zoneData.forEach((info)=> {%> 
                                                    <option value="<%=info._id%>"><%= info.name %></option>
                                                <%}) %>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="fromBranch">
                                                From Branch
                                            </label>
                                            <select tabindex="8" checkindex="8" name="fromBranch" id="fromBranch" class="form-select form-select-solid" data-control="select2" data-placeholder="Select From Branch">
                                                <option></option>
                                                <option selected value="all">All</option>
                                                <% branchData.forEach((info)=> {%> 
                                                    <option data-zone="<%=info.state.zone%>" value="<%=info._id%>"><%= info.name %></option>    
                                                <%}) %>
                                            </select>
                                            
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="toBranch">
                                                From Godown
                                            </label>
                                            <select tabindex="9" checkindex="9" name="fromGodown" id="fromGodown" class="form-select form-select-solid" data-control="select2" data-placeholder="Select From Godown">
                                                <option></option>
                                                <option selected value="all">All</option>
                                                <% godownData.forEach((info)=> {%> 
                                                    <option data-branch="<%=info.branch._id%>" value="<%=info._id%>"><%= info.name %></option>    
                                                <%}) %>
                                            </select>
                                            
                                        </div>

                                        <div class="col-lg-3">
                                            <label for="toBranch">
                                                From City
                                            </label>
                                            <select tabindex="10" checkindex="10" name="fromCity" id="fromCity" class="form-select form-select-solid" data-control="select2" data-placeholder="Select To Branch">
                                                <option></option>
                                                <option selected value="all">All</option>
                                                <% cityData.forEach((info)=> {%> 
                                                    <option value="<%=info._id%>"><%= info.cityName %></option>    
                                                <%}) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator separator-dotted border-success my-10"></div>
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label for="toBranch">
                                                To Zone
                                            </label>
                                            <select tabindex="11" checkindex="11" name="toZone" id="toZone" class="form-select form-select-solid" data-control="select2" data-placeholder="Query For">
                                                <option></option>
                                                <option value="all" selected>All Zone</option>
                                                <% zoneData.forEach((info)=> {%> 
                                                    <option value="<%=info._id%>"><%= info.name %></option>
                                                <%}) %>
                                            </select>
                                        </div>
                                        
                                        <div class="col-lg-6">
                                            <label for="toBranch">
                                                To City
                                            </label>
                                            <select tabindex="12" checkindex="12" name="toCity" id="toCity" class="form-select form-select-solid" data-control="select2" data-placeholder="Select To Branch">
                                                <option></option>
                                                <option selected value="all">All</option>
                                                <% cityData.forEach((info)=> {%> 
                                                    <option value="<%=info._id%>"><%= info.cityName %></option>    
                                                <%}) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="kt_accordion_1_header_3">
                            <button class="accordion-button fs-4 fw-semibold collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_3" aria-expanded="false"
                                aria-controls="kt_accordion_1_body_3">
                                Other Filters
                            </button>
                        </h2>
                        <div id="kt_accordion_1_body_3" class="accordion-collapse collapse"
                            aria-labelledby="kt_accordion_1_header_3" data-bs-parent="#kt_accordion_1">
                            <div class="accordion-body row">
                               <div class="col-lg-12">
                                    <div class="row">
                                  
                                    <div class="col-lg-3">
                                        <label for="billedAt" class="form-label">Billed At</label>
                                        <select tabindex="13" checkindex="13" name="billedAt" class="form-select form-select-solid" data-control="select2" data-placeholder="Select Billed At">
                                            <option></option>
                                            <option selected value="all">All</option>
                                            <% branchData.forEach((info)=> {%> 
                                            <option value="<%=info._id%>"><%=info.name%></option>    
                                            <%}) %>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="billedBy" class="form-label">Billed To</label>
                                        <select tabindex="14" checkindex="14" name="billedTo" class="form-select form-select-solid" data-control="select2" data-placeholder="Select Billed By">
                                            <option></option>
                                            <option selected value="all">All</option>
                                            <% sundryDebtors.forEach((info)=> {%> 
                                            <option value="<%=info._id%>"><%=info.name%></option>    
                                            <%}) %>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="gstPaidBy" class="form-label">GST Paid By</label>
                                        <select tabindex="15" checkindex="15" name="gstPaidBy" class="form-select form-select-solid" data-control="select2" data-placeholder="Select GST Paid By">
                                            <option></option>
                                            <option selected value="all">All</option>
                                            <option value="TPT">Third Party</option>
                                            <option value="consignor">Consignor</option>
                                            <option value="consignee">Consignee</option>
                                            <option value="transporter">Transporter</option>    
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="billedAt" class="form-label">Load Type</label>
                                        <select tabindex="16" checkindex="16" name="loadType" class="form-select form-select-solid" data-control="select2" data-placeholder="Select Load Type">
                                            <option></option>
                                            <option selected value="all">All</option>
                                            <option value="FTL">FTL</option>
                                            <option value="PTL">PTL</option>
                                        </select>
                                    </div>
                                </div>
                             </div>
                             <div class="separator separator-dotted border-success my-10"></div>
                                <div class="col-lg-12">
                                    <div class="row">
                                      
                                        <div class="col-lg-2">
                                            <label for="billedAt" class="form-label">Billing Status</label>
                                            <select tabindex="17" checkindex="17" name="billingStatus" class="form-select form-select-solid" data-control="select2" data-placeholder="Select Billed At">
                                                <option></option>
                                                <option selected value="all">All</option>
                                                <option value="billed">Billed</option>
                                                <option value="unbilled">Unbilled</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="deliveryBy" class="form-label">Delivery By</label>
                                            <select tabindex="18" checkindex="18" name="deliveryBy" class="form-select form-select-solid" data-control="select2" data-placeholder="Select Billed By">
                                                <option></option>
                                                <option selected value="all">All</option>
                                              <option value="DOOR">Door Delivery</option>
                                              <option value="GODOWN">Godown</option>
                                              <option value="DAP">Delivery Against Payment</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="billedBy" class="form-label">User Wise</label>
                                            <select tabindex="19" checkindex="19" name="userWise" class="form-select form-select-solid" data-control="select2" data-placeholder="Select Billed By">
                                                <option></option>
                                                <option selected value="all">All</option>
                                                <% userData.forEach((info)=> {%> 
                                                <option value="<%=info.id%>"><%=info.name%></option>    
                                                <%}) %>
                                            </select>
                                        </div>
                                        
                                        <div class="col-lg-4">
                                            <label for="billedAt" class="form-label">Amount</label>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                   <div class="row">
                                                    <div class="col-lg-6">
                                                        <select tabindex="20" checkindex="20" data-control="select2" data-placeholder="Amount Type" name="amountSign" class="form-select form-select-solid">
                                                            <option></option>
                                                            <option value="greater">Greater Then</option>
                                                            <option value="less">Less Then</option>
                                                            <option value="equal">Equal To</option>
                                                            <option value="greaterThenEqualTo">Greater Then Equal To</option>
                                                            <option value="lessThenEqualTo">Less Then Equal To</option>

                                                        </select>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input value="0" type="text" class="form-control form-control-solid" name="amount" oninput="validateNumberWithDecimals(this)">
                                                    </div>
                                                   </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" style="display: flex; flex-wrap: wrap; align-items: center; justify-content: flex-end;">
                        <button style="margin : 20px 20px 20px 0;" type="button" id="btnSubmit" class="btn btn-primary me-10">
                            <span class="indicator-label">
                                Submit
                            </span>
                            <span class="indicator-progress">
                                Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <!--end::Accordion-->


            </div>
        </form>

            <div id="kt_app_content" class="app-content  flex-column-fluid" style="margin-top: 20px;">


                <div id="kt_app_content_container" class="app-container  container-xxl ">

                    <div style="padding: 30px;" class="card card-p-0 card-flush">
                        <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                            <div class="card-title">
                                <!--begin::Search-->
                                <div class="d-flex align-items-center position-relative my-1">
                                    <span class="svg-icon fs-1 position-absolute ms-4">
                                        <i class="ki-duotone ki-magnifier fs-3">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </span>
                                    <input type="text" data-kt-filter="search"
                                        class="form-control form-control-solid w-250px ps-14"
                                        placeholder="Search Lorry Reciept" />
                                </div>
                                <!--end::Search-->
                                <!--begin::Export buttons-->
                                <div id="kt_datatable_example_1_export" class="d-none"></div>
                                <!--end::Export buttons-->
                            </div>
                            <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                                <!--begin::Export dropdown-->
                                <button type="button" class="btn btn-light-primary" data-kt-menu-trigger="click"
                                    data-kt-menu-placement="bottom-end">
                                    <i class="ki-duotone ki-exit-down fs-2"><span class="path1"></span><span
                                            class="path2"></span></i>
                                    Export Report
                                </button>
                                <!--begin::Menu-->
                                <div id="kt_datatable_example_export_menu"
                                    class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-200px py-4"
                                    data-kt-menu="true">
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="#" class="menu-link px-3" data-kt-export="copy">
                                            Copy to clipboard
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="#" class="menu-link px-3" data-kt-export="excel">
                                            Export as Excel
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="#" class="menu-link px-3" data-kt-export="csv">
                                            Export as CSV
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->

                                    <!--end::Menu item-->
                                </div>
                                <!--end::Menu-->
                                <!--end::Export dropdown-->

                                <!--begin::Hide default export buttons-->
                                <div id="kt_datatable_example_buttons" class="d-none"></div>
                                <!--end::Hide default export buttons-->
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table align-middle  rounded table-row-dashed fs-6 g-5"
                                id="kt_datatable_example">
                                <thead>
                                    <!--begin::Table row-->
                                    <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase">
                                        <th class="min-w-100px">Action</th>

                                        <th class="min-w-100px">LR Number</th>

                                        <th class="min-w-75px">Date</th>
                                        <th class="min-w-100px">From</th>
                                        <th class="min-w-100px">To</th>
                                        <th class="min-w-100px">Consignor</th>
                                        <th class="min-w-100px">Consignee</th>
                                        <th class="min-w-75px">Invoice No.</th>
                                        <th class="min-w-75px">Actual Weight</th>
                                        <th class="min-w-75px">Charged Weight</th>
                                        <th class="min-w-75px">PKG</th>
                                        <th class="min-w-75px">Billed At</th>
                                        <th class="min-w-75px">Total Freight</th>
                                    </tr>
                                    <!--end::Table row-->
                                </thead>
                                <tbody class="fw-semibold text-gray-600">
                                    <% if(typeof lrDATA !=="undefined" ) {%>

                                        <% lrDATA.forEach(data=> {%>

                                            <tr class="odd">
                                                <td>1</td>
                                                <td>
                                                    <%=data.lrNumber%>
                                                </td>

                                                <td>
                                                    <%=data.date%>
                                                </td>
                                                <td>
                                                    <%=data.from.cityName%>
                                                </td>
                                                <td>
                                                    <%=data.to.cityName%>
                                                </td>
                                                <td>
                                                    <%=data.consignorName%>
                                                </td>
                                                <td>
                                                    <%=data.consigneeName%>
                                                </td>
                                                <td>
                                                    <%=data.invoiceNumber%>
                                                </td>
                                                <td>
                                                    <%=data.total.actualWeight%>
                                                </td>
                                                <td>
                                                    <%=data.total.chargedWeight%>
                                                </td>
                                                <td>
                                                    <%=data.total.qty%>
                                                </td>
                                                <td>
                                                    <%=data.billedAt.name%>
                                                </td>
                                                <td></td>
                                            </tr>

                                            <%}) %>

                                                <%} %>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <%- include("../../includes/footer", {pageName : "bookingRegister" }) %>