<%- include("../includes/header", {pageName : "reciepts" }) %>
    <%- include("../includes/sidebar", {pageName : "reciepts" }) %>

    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
        <div id="kt_app_content_container" class="app-container  container-xxl ">
          
   
            <div style="padding: 30px;" class="card card-p-0 card-flush">
              
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-3">
                            <label for="form-label">Select Branch</label>
                            <% if (user.role.roleType === "ADMIN") { %>
                            <select name="branch" id="branch" form="findLRForm" class="form-select form-select-solid" data-control="select2" data-placeholder="Select Branch">
                                <option></option>
                       
                            </select>
                            <% } else { %>
                            <input disabled type="text" id="branch" form="findLRForm" name="branch" class="form-control form-control-solid" value="<%=user.branch.name%>">
                            <% } %>
                        </div>
            
                        <div class="col-xl-3">
                            <label for="form-label">Select Date Range</label>
                            <input class="form-control form-control-solid" name="dateRange" form="findLRForm" placeholder="Pick date range" id="searchRange" />
                        </div>
            
                        <div class="col-xl-3">
                            <button style="margin-top: 20px;" type="button" onclick="findLR()" class="btn btn-sm btn-primary">Find</button>
                        </div>
                    </div>
                </div>
                
            </div>
            
         
       
        </div>
    </div>


    <form id="findLRForm"></form>
 
            <div id="kt_app_content" class="app-content  flex-column-fluid ">

             
                <div id="kt_app_content_container" class="app-container  container-xxl ">
                 
                    <div style="padding: 30px;" class="card card-p-0 card-flush">
                        <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                            <div class="card-title">
                                <!--begin::Search-->
                                <div class="d-flex align-items-center position-relative my-1">
                                    <span class="svg-icon fs-1 position-absolute ms-4">
                                        <i class="ki-duotone ki-magnifier fs-3">
                                         <span class="path1"></span>
                                         <span class="path2"></span>
                                        </i>
                                    </span>
                                    <input type="text" data-kt-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search Reciepts" />
                                </div>
                                <!--end::Search-->
                                <!--begin::Export buttons-->
                                <div id="kt_datatable_example_1_export" class="d-none"></div>
                                <!--end::Export buttons-->
                            </div>
                            <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                                <button onclick="addNewReciept()" type="button" class="btn btn-primary btn-active-light-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_2">
                                    <i class="ki-duotone ki-exit-down fs-2"><span class="path1"></span><span class="path2"></span></i>
                                    Add New Reciept
                                </button>
                                <!--begin::Export dropdown-->
                                <button type="button" class="btn btn-primary btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                    <i class="ki-duotone ki-exit-down fs-2"><span class="path1"></span><span class="path2"></span></i>
                                    Export Report
                                </button>
                                <!--begin::Menu-->
                                <div id="kt_datatable_example_export_menu" class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-200px py-4" data-kt-menu="true">
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="#" class="menu-link px-3" data-kt-export="copy">
                                        Copy to clipboard
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="#" class="menu-link px-3" data-kt-export="excel">
                                        Export as Excel
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="#" class="menu-link px-3" data-kt-export="csv">
                                        Export as CSV
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                  
                                    <!--end::Menu item-->
                                </div>
                                <!--end::Menu-->
                                <!--end::Export dropdown-->
                    
                                <!--begin::Hide default export buttons-->
                                <div id="kt_datatable_example_buttons" class="d-none"></div>
                                <!--end::Hide default export buttons-->
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table align-middle  rounded table-row-dashed fs-6 g-5" id="kt_datatable_example">
                                <thead>
                                    <!--begin::Table row-->
                                    <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase">
                                        <th class="min-w-250px">Action</th>
                                        
                                        <th class="min-w-100px">Voucher Number</th>
                                        
                                        <th class="min-w-75px">Date</th>
                                        <th class="min-w-100px">Dr Ledgers</th>
                                        <th class="min-w-100px">Cr Ledgers</th>
                                        <th class="min-w-100px">Amount</th>
                                    </tr>
                                    <!--end::Table row-->
                                </thead>
                                <tbody id="lrDATA" class="fw-semibold text-gray-600">
                                    <% if(typeof recieptVoucherData !== "undefined") {%> 

                                        <% recieptVoucherData.forEach(data=> {%> 

                                            <tr class="odd">
                                                <td>

                                                    <button onclick="viewChallan('<%=data._id%>')" class="btn btn-sm btn-icon btn-primary btn-active-light-primary">
                                                        <i class="ki-duotone ki-eye fs-2">
                                                         <span class="path1"></span>
                                                         <span class="path2"></span>
                                                         <span class="path3"></span>
                                                        </i>
                                                    </button>
                                                    
                                                    <button onclick="editReciept('<%=data._id%>')" class="btn btn-sm btn-icon btn-primary btn-active-light-primary">
                                                        <i class="ki-duotone ki-pencil fs-2">
                                                         <span class="path1"></span>
                                                         <span class="path2"></span>
                                                        </i>
                                                    </button>
                                                    <button class="btn btn-sm btn-icon btn-info btn-active-light-success">
                                                        <i class="ki-duotone ki-arrow-down fs-2">
                                                         <span class="path1"></span>
                                                         <span class="path2"></span>
                                                        </i>
                                                    </button>
                                                    <button class="btn btn-sm btn-icon btn-info btn-active-light-success">
                                                        <i class="ki-duotone ki-printer fs-2">
                                                         <span class="path1"></span>
                                                         <span class="path2"></span>
                                                         <span class="path3"></span>
                                                         <span class="path4"></span>
                                                         <span class="path5"></span>
                                                        </i>
                                                    </button>
                                                   
                                                    <button onclick="deleteReciept('<%=data._id%>')" class="btn btn-sm btn-icon btn-danger btn-active-light-danger">
                                                        <i class="ki-duotone ki-trash-square fs-2">
                                                         <span class="path1"></span>
                                                         <span class="path2"></span>
                                                         <span class="path3"></span>
                                                         <span class="path4"></span>
                                                        </i>
                                                    </button>

                                                </td>
                                            <td><%=data.voucherNumber%></td>
                                            <td><%=data.date%></td>
                                            <td>
                                                <% let doneDR = [] %>
                                                <% data.drEntry.forEach((info, index) => { %>
                                                    <% const foundDR = doneDR.includes(info.ledger._id); %>
                                                    <% if (!foundDR) { %>
                                                        <% if (index !== 0 ) { %>, <% } %>
                                                        <%= info.ledger.name %>
                                                        
                                                        <% doneDR.push(info.ledger._id) %>
                                                    <% } %>
                                                <% }) %>
                                        </td>
                                        <td>
                                            <% let doneCR = [] %>
                                            <% data.crEntry.forEach((info, index) => { %>
                                                <% const foundCR = doneCR.includes(info.ledger._id); %>
                                                <% if (!foundCR) { %>
                                                    <% if (index !== 0 ) { %>, <% } %>
                                                    <%= info.ledger.name %>
                                                    
                                                    <% doneCR.push(info.ledger._id) %>
                                                <% } %>
                                            <% }) %>
                                        </td>
                                        <td>
                                            ok
                                        </td>
                                        
                                            
                                           
                                           
                                            </tr>

                                        <%}) %>

                                    <%} %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                  
                </div>
           </div>
           <%     function getCurrentFinancialYear() {
            const currentDate = new Date();
            const currentYear = currentDate.getFullYear();
          
            // Check if the current month is April (month index 3) or later
            // If it's April or later, return the current year and the next year as the financial year
            // Otherwise, return the previous year and the current year as the financial year
            const startYear = currentDate.getMonth() >= 3 ? currentYear : currentYear - 1;
            const endYear = startYear + 1;
          
            // Format the financial year as "2324", "2425", etc.
            const formattedFinancialYear = `${String(startYear).slice(-2)}${String(endYear).slice(-2)}`;
          
            return formattedFinancialYear;
          }
          %>
    <form id="recieptForm">
           <div class="modal bg-body  fade" tabindex="-1" id="kt_modal_2" data-bs-focus="false">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content custom-modal shadow-none">
                    <div class="modal-header">
                        <h5 class="modal-title" id="title"></h5>
        
                        <!--begin::Close-->
                        <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                            <i class="ki-duotone ki-cross fs-2x"><span class="path1"></span><span class="path2"></span></i>
                        </div>
                        <!--end::Close-->
                    </div>
        
                    <div class="modal-body">
                          <!--begin::Layout-->
                    <div class="d-flex flex-column flex-lg-row">
                        <!--begin::Content-->
                        <div class="flex-lg-row-fluid mb-10 mb-lg-0 me-lg-7 me-xl-10">
                            <!--begin::Card-->
                            <div class="card">
                                <!--begin::Card body-->
                                <div class="card-body p-12">
                                    <!--begin::Form-->
                                    <div class="d-flex flex-column align-items-start flex-xxl-row">
                                        <div class="col-lg-3" style="margin-right: 10px;">
                                            <input type="hidden" name="editID" id="editID">
                                            <label for="" class="form-label">Voucher No.</label>
                                            <input tabindex="1" checkindex="1" value="<%=printNumber%>"
                                            class="form-control form-control-solid fw-bold pe-5 flatpickr-input"
                                            placeholder="Enter Voucher Number" name="voucherNumber" type="text"
                                            id="voucherNumber">
                                        </div>
                                    <div class="col-lg-3" style="margin-right: 10p;">
                                        <label for="" class="form-label">Reciept Date</label>
                                        <input tabindex="2" checkindex="2"
                                        class="form-control form-control-solid fw-bold pe-5 flatpickr-input"
                                        placeholder="Select Challan Date" name="recieptDate" type="text"
                                        id="recieptDate">
                                    </div>
                                    </div>

                                    <div class="separator separator-dashed my-10"></div>


                                        <!--begin::Wrapper-->
                                      <dr id="cr">
                                        <div class="d-flex flex-column align-items-start flex-xxl-row">
                                            <div class="col-lg-4" style="margin-right: 10px;">
                                                <label for="newChallan" class="form-label required">Ledger Cr</label>
                                                <select tabindex="3" checkindex="3" data-dropdown-parent="#kt_modal_2" class="form-select form-select-solid" data-control="select2" data-placeholder="Select Cr Ledger" id="ledgerCR">
                                                    <option></option>
                                                     <% sundryDebtorData.forEach((data)=> {%> 
                                                    <option value="<%=data._id%>"><%=data.name%></option>    
                                                    <%}) %>
                                                 </select>
                                            </div>
                               
                                            <div class="col-lg-4" style="margin-right: 10px;">
                                                <label for="crBalance" class="form-label required">Balance</label>
                                                <input disabled class="form-control form-control-solid" value="0" type="text" id="crBalance">
                                            </div>
                                            <div class="col-lg-4" style="margin-right: 10px;">
                                                <label for="amountCr" class="form-label required">Amount Recieved</label>
                                                <input tabindex="4" checkindex="4" value="0"
                                                class="form-control form-control-solid" type="number"
                                                id="amountCr">
                                            </div>

                                         
                                            <!--end::Input group-->
                                        </div>
                                        
                                        
                                        

                                        <div class="d-flex flex-column align-items-start flex-xxl-row" style="padding-top: 20px;">
                                            
                                            <div class="col-lg-3" style="margin-right: 10px;">
                                                <label for="to" class="form-label required">Ref Type</label>
                                                <select disabled tabindex="5" checkindex="5" data-dropdown-parent="#kt_modal_2" class="form-select form-select-solid" data-control="select2" data-placeholder="Select Reference Type" id="selectReferenceTypeCr">
                                                    <option></option>
                                                   <option value="against">Against Ref</option>
                                                   <option value="new">New Reference</option>
                                                   <option value="onAccount">On Account</option>
                                                 </select>
                                            </div>

                                            <div id="billDIVCr" class="col-lg-3" style="margin-right: 10px;">
                                                <label for="vehicleNumber" class="form-label required">Reference</label>
                                                <select disabled tabindex="6" checkindex="6" data-dropdown-parent="#kt_modal_2" class="form-select form-select-solid" data-control="select2" data-placeholder="Select Reference" id="selectReferenceCr">
                                                    <option></option>
                                                  
                                                 </select>
                                            </div>
                                            <div id="newDIVCr" class="col-lg-3" style="margin-right: 10px; display: none;">
                                                <label for="new" class="form-label required">New</label>
                                                <input tabindex="6" checked="6" disabled type="text" id="newCr" class="form-control form-control-solid">
                                            </div>
                                            <div class="col-lg-3" style="margin-right: 10px;">
                                                <label for="new" class="form-label required">Amount</label>
                                                <input tabindex="7" checkindex="7" disabled value="0" type="number" id="newCrAmt" class="form-control form-control-solid">
                                            </div>
                                            <div class="col-lg-3" style="margin-right: 10px;">
                                                <label for="recievedAmt" class="form-label required">Recieved Amount</label>
                                                <input oninput="validateNumberWithDecimals(this)" disabled tabindex="8" checkindex="8" disabled type="number" id="recievedAmtCr" class="form-control form-control-solid" placeholder="Amount">
                                            </div>
                                           
                                        </div>
                                       
                                        <div id="crIndividual" style="display: none;" class="col-lg-12">
                                            <div class="separator separator-dashed my-10"></div>
                                            <div class="row">
                                                <div class="table-responsive mb-10">
                                                    <!--begin::Table-->
                                                    <table  class="table g-5 gs-0 mb-0 fw-bold text-gray-700" data-kt-element="items" id="lrContent">
                                                        <!--begin::Table head-->
                                                        <thead>
                                                            <tr class="border-bottom fs-7 fw-bold text-gray-700 text-uppercase">
                                                                <th>Reference Type</th>
                                                                <th>Reference No.</th>
                                                                <th>Reference Amount</th>
                                                                <th>Recieved Amount</th>
                                                                <th>Balance</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <!--end::Table head-->
                                        
                                                        <!--begin::Table body-->
                                                        <tbody id="crTable">
                                                           
                                                            
                                                        </tbody>
                                                       
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <div id="crPartyTotal" style="display: none;" class="col-lg-12">
                                            <div class="separator separator-dashed my-10"></div>
                                            <div class="row">
                                                <div class="table-responsive mb-10">
                                                    <!--begin::Table-->
                                                    <table  class="table g-5 gs-0 mb-0 fw-bold text-gray-700" data-kt-element="items" id="lrContent">
                                                        <!--begin::Table head-->
                                                        <thead>
                                                            <tr class="border-bottom fs-7 fw-bold text-gray-700 text-uppercase">
                                                                <th>Sr No.</th>
                                                                <th>Ledger Name</th>
                                                                <th>No. of References</th>
                                                                <th>Total Amount</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <!--end::Table head-->
                                        
                                                        <!--begin::Table body-->
                                                        <tbody id="crPartyTable">
                                                           
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                      </dr>
                                        

                                        <div class="separator separator-dashed my-10"></div>


                                        <div id="dr">
                                               <!--begin::Wrapper-->
                                        <div class="d-flex flex-column align-items-start flex-xxl-row">
                                            <div class="col-lg-4" style="margin-right: 10px;" id="addChallanNumberDiv">
                                                <label for="newChallan" class="form-label required">Ledger Dr</label>
                                                <select tabindex="10" checkindex="10" data-dropdown-parent="#kt_modal_2" class="form-select form-select-solid" data-control="select2" data-placeholder="Select Dr Ledger" id="ledgerDR">
                                                    <option></option>
                                                     <% paymentData.forEach((data)=> {%> 
                                                    <option data-type="<%=data.type%>" value="<%=data._id%>"><%=data.name%></option>    
                                                    <%}) %>
                                                 </select>
                                            </div>
                               
                                            <div class="col-lg-4" id="drBalanceDiv" style="margin-right: 10px; display: none;">
                                                <label for="fmDate" class="form-label required">Dr Balance</label>
                                                <input disabled tabindex="11" checkindex="11" class="form-control form-control-solid" value="0"  type="text" id="drBalance">
                                            </div>
                                            <div class="col-lg-4" id="chNumberDiv" style="margin-right: 10px;">
                                                <label for="fmDate" class="form-label required">CH No.</label>
                                                <input disabled tabindex="11" checkindex="11" class="form-control form-control-solid" value="0" type="text" id="chNumber">
                                            </div>
                                            <div class="col-lg-4" style="margin-right: 10px;">
                                                <label for="fmDate" class="form-label required">Amount Recieved</label>
                                                <input tabindex="13" checkindex="13" value="0"
                                                class="form-control form-control-solid fw-bold pe-5 flatpickr-input"
                                                placeholder="Select Bill Date"  type="text"
                                                id="amountDr">
                                            </div>

                                         
                                            <!--end::Input group-->
                                        </div>
                                        
                                        
                                        

                                        <div class="d-flex flex-column align-items-start flex-xxl-row" style="padding-top: 20px;">
                                            
                                            <div class="col-lg-3" style="margin-right: 10px;">
                                                <label for="to" class="form-label required">Ref Type</label>
                                                <select disabled tabindex="14" checkindex="14" data-dropdown-parent="#kt_modal_2" class="form-select form-select-solid" data-control="select2" data-placeholder="Select Reference Type" id="selectReferenceTypeDr">
                                                    <option></option>
                                                    <option value="against">Against Ref</option>
                                                    <option value="new">New Reference</option>
                                                    <option value="onAccount">On Account</option>
                                                 </select>
                                            </div>

                                            <div id="billDIVDr" class="col-lg-3" style="margin-right: 10px;">
                                                <label for="vehicleNumber" class="form-label required">Select Reference</label>
                                                <select disabled tabindex="15" checkindex="15" data-dropdown-parent="#kt_modal_2" class="form-select form-select-solid" data-control="select2" data-placeholder="Select Reference" id="selectReferenceDr">
                                                    <option></option>
                                                  
                                                 </select>
                                            </div>
                                            <div id="newDIVDr" class="col-lg-3" style="margin-right: 10px; display: none;">
                                                <label for="new" class="form-label required">New</label>
                                                <input disabled tabindex="15" checkindex="15" type="text" id="newDr" class="form-control form-control-solid">
                                            </div>

                                            <div class="col-lg-3" style="margin-right: 10px;">
                                                <label for="new" class="form-label required">Amount</label>
                                                <input value="0" tabindex="16" tabindex="16" disabled type="number" id="newDrAmt" class="form-control form-control-solid">
                                            </div>
                                            <div class="col-lg-3" style="margin-right: 10px;">
                                                <label for="recievedAmt" class="form-label required">Recieved Amount</label>
                                                <input disabled tabindex="17" checkindex="17" disabled type="text" id="recievedAmtDr" class="form-control form-control-solid" placeholder="Amount">
                                            </div>
                                           
                                        </div>
                                        
                                        <div style="display: none;" id="drIndividual" class="col-lg-12">
                                            <div class="separator separator-dashed my-10"></div>
                                            <div class="row">
                                                <div class="table-responsive mb-10">
                                                    <!--begin::Table-->
                                                    <table class="table g-5 gs-0 mb-0 fw-bold text-gray-700" data-kt-element="items" id="lrContent">
                                                        <!--begin::Table head-->
                                                        <thead>
                                                            <tr class="border-bottom fs-7 fw-bold text-gray-700 text-uppercase">
                                                                <th>Reference Type</th>
                                                                <th>Reference No.</th>
                                                                <th>Reference Amount</th>
                                                                <th>Recieved Amount</th>
                                                                <th>Balance</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <!--end::Table head-->
                                        
                                                        <!--begin::Table body-->
                                                        <tbody id="drTable">
                                                          
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        
                                        <div id="drPartyTotal" style="display: none;" class="col-lg-12">
                                            <div class="separator separator-dashed my-10"></div>
                                            <div class="row">
                                                <div class="table-responsive mb-10">
                                                    <!--begin::Table-->
                                                    <table  class="table g-5 gs-0 mb-0 fw-bold text-gray-700" data-kt-element="items" id="lrContent">
                                                        <!--begin::Table head-->
                                                        <thead>
                                                            <tr class="border-bottom fs-7 fw-bold text-gray-700 text-uppercase">
                                                                <th>Sr No.</th>
                                                                <th>Ledger Name</th>
                                                                <th>No. of References</th>
                                                                <th>Total Amount</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <!--end::Table head-->
                                        
                                                        <!--begin::Table body-->
                                                        <tbody id="drPartyTable">
                                                           
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                      </dr>
                                        </div>


                                    </form>
                                    <!--end::Form-->
                                </div>
                                <!--end::Card body-->
                            </div>
                            <!--end::Card-->
                        </div>
                        <!--end::Content-->

            
                    </div>
                    <!--end::Layout-->
                    </div>
        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="modalCloseBTN">Close</button>
                        <button type="button" class="btn btn-primary" onclick="createReciept()" id="recieptSubmit">
                            <span class="indicator-label">
                                Create New Reciept
                            </span>
                            <span class="indicator-progress">
                                Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                        <button type="button" class="btn btn-primary" onclick="updateReciept()" id="recieptUpdate">
                            <span class="indicator-label">
                                Update Reciept
                            </span>
                            <span class="indicator-progress">
                                Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        </div>

     
 
    <%- include("../includes/footer", {pageName : "reciepts" }) %>